@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(./image/photo-1533174072545-7a4b6ad7a6c3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    max-width: 120rem;
    margin: 40rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: brown; */
}

.key {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    padding: 1rem 2rem;
    width: 12rem;
    color: white;
    font-size: 700;
}

.clicked {
    transform: scale(1.1);
    border: 2px solid gold;
}

.letter {
    font-size: 4rem;
}

/* .scale_border:hover {
    transform: scale(1.1);
    transition: all 0.2s;
} */